/*
 *                                |~~~~~~~|
 *                                |       |
 *                                |       |
 *                                |       |
 *                                |       |
 *                                |       |
 *     |~.\\\_\~~~~~~~~~~~~~~xx~~~         ~~~~~~~~~~~~~~~~~~~~~/_//;~|
 *     |  \  o \_         ,XXXXX),                         _..-~ o /  |
 *     |    ~~\  ~-.     XXXXX`)))),                 _.--~~   .-~~~   |
 *      ~~~~~~~`\   ~\~~~XXX' _/ ';))     |~~~~~~..-~     _.-~ ~~~~~~~
 *               `\   ~~--`_\~\, ;;;\)__.---.~~~      _.-~
 *                 ~-.       `:;;/;; \          _..-~~
 *                    ~-._      `''        /-~-~
 *                        `\              /  /
 *                          |         ,   | |
 *                           |  '        /  |
 *                            \/;          |
 *                             ;;          |
 *                             `;   .       |
 *                             |~~~-----.....|
 *                            | \             \
 *                           | /\~~--...__    |
 *                           (|  `\       __-\|
 *                           ||    \_   /~    |
 *                           |)     \~-'      |
 *                            |      | \      '
 *                            |      |  \    :
 *                             \     |  |    |
 *                              |    )  (    )
 *                               \  /;  /\  |
 *                               |    |/   |
 *                               |    |   |
 *                                \  .'  ||
 *                                |  |  | |
 *                                (  | |  |
 *                                |   \ \ |
 *                                || o `.)|
 *                                |`\\) |
 *                                |       |
 *                                |       |
 * 
 * @Author: zhuzesen
 * @LastEditors: zhuzesen
 * @Date: 2020-12-16 19:10:12
 * @LastEditTime: 2020-12-17 10:17:44
 * @Description: 
 * @FilePath: \teacher-development\src\component\anchor\index.scss
 */

@import "../common/mixin.scss";
.lg-anchor {
    position: fixed;
    right: 16px;
    @include v-center;
    width: 60px;
    min-height: 58px;
    padding: 4px 0;
    background-color: #ffffff;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.16);
    border-radius: 3px;
    z-index: 66;
    .anchor-link {
        // display: inline-block;
        height: 54px;
        padding: 13px 15px;
        cursor: pointer;
        line-height: 14px;
        position: relative;
        font-size: 12px;
        color: #666666;
        &::after {
            content: "";
            position: absolute;
            bottom: -0.5px;
            width: 20px;
            height: 0;
            left: 20px;
            border-bottom: 1px solid #dedede;
        }
        &:last-of-type {
            &::after {
                display: none;
            }
        }
        &.anchor-link-2 {
            color: #ffffff;
        }
    }
    .anchor-link-active {
        position: absolute;
        //display: inline-block;
        overflow: hidden;
        margin-left: -4px;
        top: 8px;
        width: 68px;
        height: 50px;
        background: url(./images/image-anchor.png) no-repeat center center/contain;
        .anchor-active {
            height: 54px;
            cursor: pointer;
            position: absolute;
            padding: 13px 20px;
            line-height: 14px;
            font-size: 12px;
            color: #ffffff;
            // &::after {
            //     content: "";
            //     position: absolute;
            //     bottom: -0.5px;
            //     width: 20px;
            //     height: 0;
            //     left: 20px;
            //     border-bottom: 1px solid #dedede;
            // }
        }
        transition: top 0.1s linear;
        -webkit-transition: top 0.1s linear;
        -moz-transition: top 0.1s linear;
        -ms-transition: top 0.1s linear;
        -o-transition: top 0.1s linear;
    }
}