/*
 *                   江城子 . 程序员之歌
 * 
 *               十年生死两茫茫，写程序，到天亮。
 *                   千行代码，Bug何处藏。
 *               纵使上线又怎样，朝令改，夕断肠。
 * 
 *               领导每天新想法，天天改，日日忙。
 *                   相顾无言，惟有泪千行。
 *               每晚灯火阑珊处，夜难寐，加班狂。
 * 
 * 
 * @Author: zhuzesen
 * @LastEditors: zhuzesen
 * @Date: 2020-11-18 19:39:04
 * @LastEditTime: 2020-12-03 09:24:23
 * @Description: 
 * @FilePath: \teacher-development\src\component\frame\index.scss
 */

@import "../common/mixin.scss";
#Frame {
    position: relative;
    width: 100vw;
    min-width: 1290px;
    height: 100vh;
    // background-color: rgba($color: #ff6600, $alpha: 0.2);
    .Frame-contain {
        position: relative;
        width: 100%;
        height: calc(100% - 64px);
        .Frame-contain-left {
            position: relative;
            display: inline-block;
            vertical-align: top;
            width: 200px;
            height: 100%;
            // background-image: linear-gradient(165deg, #064575 0%, #085286 50%, #0d75b0 100%), linear-gradient(#4976f7, #4976f7);
        }
        .Frame-contain-right {
            position: relative;
            display: inline-block;
            vertical-align: top;
            width: calc(100% - 200px);
            height: 100%;
        }
    }
}