/*
 *                   江城子 . 程序员之歌
 * 
 *               十年生死两茫茫，写程序，到天亮。
 *                   千行代码，Bug何处藏。
 *               纵使上线又怎样，朝令改，夕断肠。
 * 
 *               领导每天新想法，天天改，日日忙。
 *                   相顾无言，惟有泪千行。
 *               每晚灯火阑珊处，夜难寐，加班狂。
 * 
 * 
 * @Author: zhuzesen
 * @LastEditors: zhuzesen
 * @Date: 2020-12-15 17:10:37
 * @LastEditTime: 2020-12-17 09:50:17
 * @Description: 
 * @FilePath: \teacher-development\src\pages\teachersStatisticAnalysis\index.scss
 */

//  头部
@import "../../component/common/mixin.scss";
.Analysis-Top {
    position: relative;
    .dropdown_title_span {
        color: #999999;
    }
    .top-default {
        position: relative;
        height: 54px;
        background-color: #ffffff;
        padding: 0 20px;
        // box-shadow: 0px 1px 0px 0px
        // 	#e5e5e5;
        box-shadow: 0px 1px 0px 0px #e5e5e5;
        .term-dropdown {
            // position: absolute;
            // left: 20px;
            float: left;
            margin-top: 11px;
            // @include v-center;
        }
        .dropdown-school {
            float: right;
            margin-left: 20px;
            // left: auto;
            // right: 20px;
        }
    }
    .top-msg {
        // width: 1240px;
        height: 90px;
        z-index: 2;
        overflow: visible;
        position: relative;
        background: url(./images/img-personal-header.png) no-repeat center top/100% 100%;
        .s-msg {
            position: absolute;
            bottom: 0;
            left: 0;
            line-height: 42px;
            font-size: 18px;
            font-weight: bold;
            color: #0a406f;
            margin-bottom: 0;
            padding-left: 135px;
            i {
                position: absolute;
                left: 28px;
                @include v-center;
                margin-right: 17px;
                display: inline-block;
                background-size: 100% 100%;
                background-repeat: no-repeat;
                background-position: center center;
                background-image: url(./images/image-school-logo.png);
                height: 90px;
                width: 90px;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
            }
        }
    }
}

.Analysis {
    // position: relative;
    // padding-bottom: 66px;
    .analysis-scroll {
        &>div {
            &:first-of-type {
                // padding-bottom: 66px;
            }
        }
        .content-box {
            overflow-y: auto;
            overflow-x: hidden;
            padding-bottom: 6px; //控制底部，让阴影出来
        }
    }
    .ProVersion {
        position: relative;
        margin-bottom: 0;
        text-align: center;
        width: 100%;
        line-height: 42px;
        // margin-bottom: 18px;
        color: #b8b8b8;
        // bottom: 18px;
    }
}

// 公用
.teacher-bar {
    position: relative;
    padding: 20px;
    // height: 316px;
    .tb-top,
    .tb-bottom {
        position: relative;
        text-align: center;
        // width: 100%;
    }
    .tb-bottom {
        height: 325px;
    }
    .tb-tip {
        line-height: 20px;
        font-size: 14px;
        text-align: center;
        padding-left: 5px;
        margin-bottom: 0;
        // margin-bottom: 20px;
        color: #999999;
        .tb-tip-1 {
            color: #333333;
            font-weight: bold;
        }
        .tb-tip-2 {
            font-weight: bold;
            color: #009900;
        }
        .tb-tip-3 {
            font-weight: bold;
            color: red;
        }
    }
    .tb-tooltip {
        position: relative;
        .nodename {
            font-size: 14px;
            line-height: 20px;
            color: #fffd64;
            // font-weight: bold;
        }
        p {
            margin-bottom: 0;
            position: relative;
            color: #cccccc;
            span {
                color: #fff;
            }
        }
        .msg {
            padding-left: 12px;
            &::before {
                content: "";
                position: absolute;
                width: 5px;
                height: 5px;
                left: 0;
                border-radius: 50%;
                background-color: #ffffff;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                @include v-center;
            }
        }
    }
    .t-tooltip {
        position: relative;
        .nodename {
            font-size: 14px;
            line-height: 20px;
            color: #fffd64;
            // font-weight: bold;
        }
        p {
            margin-bottom: 0;
            position: relative;
            color: #cccccc;
            text-align: left;
            span {
                color: #fff;
                padding: 0 3px;
            }
        }
        .msg {
            .ball {
                width: 10px;
                height: 10px;
                display: inline-block;
                margin-left: 4px;
                margin-right: 4px;
                vertical-align: middle;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
            }
        }
        .msg-2 {
            padding-left: 12px;
            &::before {
                content: "";
                position: absolute;
                width: 5px;
                height: 5px;
                left: 0;
                border-radius: 50%;
                background-color: #ffffff;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                @include v-center;
            }
        }
    }
    .tb-show-detail {
        position: relative;
        width: 14px;
        height: 20px;
        margin-left: 4px;
        display: inline-block;
        display: none;
        vertical-align: top;
        cursor: pointer;
        opacity: 0.9;
        background: url(./images/icon-show-detail.png) no-repeat center center / contain;
        &:hover {
            opacity: 1;
        }
    }
    .show-detail {
        // .ant-tooltip-arrow:before {
        //     background-color: #fff;
        // }
        // .ant-tooltip-inner {
        //     background-color: #fff;
        //     min-height: 0;
        //     min-width: 0;
        //     font-size: 12px;
        //     line-height: 14px;
        //     white-space: nowrap;
        // }
    }
    .tb-right {
        display: inline-block;
        width: 50%;
        border-radius: 2px;
        background-color: #f5f5f5;
    }
}

.HistoryModal {
    .ant-modal-body {
        padding: 10px 0;
    }
    .type-label {
        margin: 10px 0;
        line-height: 20px;
        font-size: 12px;
        text-align: left;
        padding: 0 40px 0 60px;
        .type-name {
            color: #333333;
        }
        .type-select {
            position: relative;
            height: 20px;
            display: inline-block;
            background-color: #d5e8f8;
            border-radius: 3px;
            padding: 0 8px;
            font-size: 12px;
            cursor: pointer;
            color: #034069;
            margin: 0 6px 10px 5px;
            &:first-of-type {
                margin-left: 0;
            }
            &::after {
                content: "";
                position: absolute;
                right: -6px;
                width: 1px;
                height: 20px;
                background: url(./images/icon-devide-line.png) no-repeat center center/contain;
            }
            &:last-of-type {
                &::after {
                    display: none;
                }
            }
            &.type-select-active {
                background-color: #0099ff;
                color: #fff;
                &::before {
                    content: "";
                    position: absolute;
                    bottom: -4px;
                    left: 50%;
                    height: 0;
                    width: 0;
                    border-top: 4px solid #0099ff;
                    border-bottom: none;
                    border-left: 4px solid transparent;
                    border-right: 4px solid transparent;
                    transform: translateX(-50%);
                    -webkit-transform: translateX(-50%);
                    -moz-transform: translateX(-50%);
                    -ms-transform: translateX(-50%);
                    -o-transform: translateX(-50%);
                }
            }
        }
    }
    .hm-echarts {
        height: 360px;
        padding: 0;
        .title-2 {
            color: #fff;
        }
    }
}

.emptyBox {
    .tips-error-3 {
        background-size: 200px 60px;
    }
    .initTitle {
        font-size: 12px;
    }
}