/*
空数据提示
*/

.emptyBox {
    @include flex;
    @include flex-direction(column);
    @include align-items(center);
    .empty {
        position: relative;
        display: inline-block;
    }
    .tips-error-1 {
        width: 410px;
        height: 180px;
        background: url("../images/empty/tips-error-1.png") no-repeat center;
        background-size: 410px 180px;
    }
    .tips-error-2 {
        width: 154px;
        height: 154px;
        background: url("../images/empty/tips-error-2.png") no-repeat center;
        background-size: 154px 154px;
    }
    .tips-error-3 {
        width: 353px;
        height: 93px;
        background: url("../images/empty/tips-error-3.png") no-repeat center;
        background-size: 353px 93px;
    }
    .tips-error-4 {
        width: 160px;
        height: 100px;
        background: url("../images/empty/tips-error-4.png") no-repeat center;
        background-size: 160px 100px;
    }
    .tips-error-5 {
        width: 300px;
        height: 180px;
        background: url("../images/empty/tips-error-5.png") no-repeat center top;
        background-size: 300px 264px;
    }
    .noTitle {
        display: none;
    }
    .initTitle {
        height: 20px;
        font-size: 14px;
        color: #999999;
        margin-top: 15px;
        text-align: center;
        line-height: 1.5;
    }
}


/*
空数据提示
*/

.Empty {
    width: 450px;
    margin: 20px 0 50px;
}