/*
 *                                                     __----~~~~~~~~~~~------___
 *                                    .  .   ~~//====......          __--~ ~~
 *                    -.            \_|//     |||\\  ~~~~~~::::... /~
 *                 ___-==_       _-~o~  \/    |||  \\            _/~~-
 *         __---~~~.==~||\=_    -_--~/_-~|-   |\\   \\        _/~
 *     _-~~     .=~    |  \\-_    '-~7  /-   /  ||    \      /
 *   .~       .~       |   \\ -_    /  /-   /   ||      \   /
 *  /  ____  /         |     \\ ~-_/  /|- _/   .||       \ /
 *  |~~    ~~|--~~~~--_ \     ~==-/   | \~--===~~        .\
 *           '         ~-|      /|    |-~\~~       __--~~
 *                       |-~~-_/ |    |   ~\_   _-~            /\
 *                            /  \     \__   \/~                \__
 *                        _--~ _/ | .-~~____--~-/                  ~~==.
 *                       ((->/~   '.|||' -_|    ~~-/ ,              . _||
 *                                  -_     ~\      ~~---l__i__i__i--~~_/
 *                                  _-~-__   ~)  \--______________--~~
 *                                //.-~~~-~_--~- |-------~~~~~~~~
 *                                       //.-~~~--\
 *                       ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * 
 *                               神兽保佑            永无BUG
 * 
 * @Author: zhuzesen
 * @LastEditors: zhuzesen
 * @Date: 2020-12-16 13:58:16
 * @LastEditTime: 2020-12-21 16:58:32
 * @Description: 
 * @FilePath: \teacher-development\src\pages\teachersStatisticAnalysis\baseMsg\index.scss
 */

// 教师人数
@import "../../../component/common/mixin.scss";
.TeacherPeriod,
.TeacherGanger,
.TeacherRatio {
    .tp-tilte {
        margin-top: 16px;
        line-height: 20px;
        font-size: 14px;
        // font-weight: bold;
        text-align: center;
        color: #333333;
        &::before {
            content: "";
            width: 334px;
            height: 20px;
            display: inline-block;
            vertical-align: top;
            margin-right: 10px;
            background: url(./images/image-devide.png) no-repeat center center / 100% 1px;
        }
        &::after {
            content: "";
            width: 334px;
            height: 20px;
            display: inline-block;
            vertical-align: top;
            margin-left: 10px;
            transform: rotate(180deg);
            background: url(./images/image-devide.png) no-repeat center center / 100% 1px;
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -o-transform: rotate(180deg);
        }
    }
    .tp-handle {
        margin-top: 12px;
        line-height: 20px;
        text-align: center;
        .tph-Scrollbars {
            display: inline-block;
            max-width: 800px;
            height: 40px;
            vertical-align: top;
        }
        .tph-p {
            line-height: 20px;
            white-space: nowrap;
        }
        .tph-title {
            font-size: 12px;
            color: #333333;
            margin-right: 5px;
        }
        .tph-type {
            position: relative;
            height: 20px;
            background-color: #d5e8f8;
            border-radius: 3px;
            padding: 0 8px;
            font-size: 12px;
            cursor: pointer;
            color: #034069;
            margin: 0 6px 0 5px;
            &:first-of-type {
                margin-left: 0;
            }
            &::after {
                content: "";
                position: absolute;
                right: -6px;
                width: 1px;
                height: 20px;
                background: url(./images/icon-devide-line.png) no-repeat center center/contain;
            }
            &:last-of-type {
                &::after {
                    display: none;
                }
            }
            &.tph-type-select {
                background-color: #0099ff;
                color: #fff;
                &::before {
                    content: "";
                    position: absolute;
                    bottom: -4px;
                    left: 50%;
                    height: 0;
                    width: 0;
                    border-top: 4px solid #0099ff;
                    border-bottom: none;
                    border-left: 4px solid transparent;
                    border-right: 4px solid transparent;
                    transform: translateX(-50%);
                    -webkit-transform: translateX(-50%);
                    -moz-transform: translateX(-50%);
                    -ms-transform: translateX(-50%);
                    -o-transform: translateX(-50%);
                }
            }
        }
    }
    .tp-echarts {
        width: 100%;
        height: 230px;
        display: inline-block;
        vertical-align: top;
    }
}

.TeacherRatio {
    .ter-left {
        position: relative;
        display: inline-block;
        width: 42%;
        vertical-align: top;
        height: 280px;
        .tb-tip {
            // margin-top: 10px;
            padding-left: 5px;
            text-align: left;
        }
        .ter-echarts {
            height: 220px;
            margin-top: 10px;
        }
        .ter-all {
            position: absolute;
            font-size: 12px;
            left: 50%;
            text-align: center;
            transform: translateX(-50%);
            line-height: 20px;
            color: #333333;
            top: 120px;
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            span {
                font-size: 16px;
                font-weight: bold;
            }
        }
    }
    .ter-title {
        position: absolute;
        bottom: 15px;
        width: 100%;
        left: 0;
        // position: relative;
        font-size: 14px;
        line-height: 20px;
        // margin-bottom: 0;
        text-align: center;
        color: #333333;
    }
    .ter-right {
        width: 58%;
        background-color: #fff;
        position: relative;
        min-height: 280px;
        padding-top: 15px;
        .bar-content {
            position: relative;
            line-height: 28px;
            .bar-name {
                font-size: 14px;
                display: inline-block;
                width: 107px;
                color: #666666;
                padding-right: 10px;
                text-align: right;
                vertical-align: top;
            }
            .bar-box {
                // vertical-align: top;
                margin: 0;
                width: calc(100% - 200px);
                height: 12px;
                border-radius: 6px;
                display: inline-block;
                position: relative;
                overflow: hidden;
                // top: 50%;
                // transform: translateY(-50%);
                // -webkit-transform: translateY(-50%);
                // -moz-transform: translateY(-50%);
                // -ms-transform: translateY(-50%);
                // -o-transform: translateY(-50%);
                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba($color: #fff, $alpha: 0.7);
                }
            }
            .bar-tea {
                position: absolute;
                height: 100%;
                left: 0;
                top: 0;
                border-radius: 6px;
                width: 0;
                transition: width 2s ease;
                -webkit-transition: width 2s ease;
                -moz-transition: width 2s ease;
                -ms-transition: width 2s ease;
                -o-transition: width 2s ease;
            }
            .bar-ratio {
                padding-left: 10px;
            }
            .standard-warn {
                display: inline-block;
                width: 16px;
                margin-left: 7px;
                height: 14px;
                background: url(./images/icon-error.png) no-repeat center center/contain;
            }
        }
    }
    .ter-pie-left,
    .ter-pie-right {
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 50%;
        .ter-echarts {
            height: 200px;
        }
        .ter-all {
            top: 90px;
            font-size: 12px;
            color: #333333;
            span {
                font-size: 16px;
            }
        }
    }
    .ter-echarts {
        &::after {
            content: "";
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            width: 0;
            height: 140px;
            border-left: 1px solid #e6e6e6;
        }
    }
    p {
        margin: 0;
    }
    .school-ratio-box {
        margin-top: 47px;
        margin-bottom: 38px;
        height: 27px;
        line-height: 27px;
        .bar {
            position: relative;
            display: inline-block;
            vertical-align: top;
            height: 27px;
            line-height: 27px;
            border-radius: 3px;
            color: #fff;
            margin: 0 4px;
            padding: 0 8px;
            span {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                display: inline-block;
                width: 100%;
            }
            &::before {
                content: "";
                position: absolute;
                top: -30px;
                width: 37px;
                height: 16px;
            }
        }
        .teacher-ratio-bar {
            background-color: #ff9e56;
            text-align: right;
            &::before {
                right: 10px;
                background: url(./images/font-teacher.png) no-repeat center center/100% 100%;
            }
        }
        .student-ratio-bar {
            background-color: #6cb2e5;
            text-align: left;
            &::before {
                left: 10px;
                background: url(./images/font-student.png) no-repeat center center/100% 100%;
            }
        }
        .ratio-msg {
            display: inline-block;
            vertical-align: top;
            line-height: 27px;
            color: #ff4e4e;
            margin-left: 15px;
            font-size: 30px;
            font-weight: bold;
            font-family: MicrosoftYaHei;
        }
        .icon-error {
            display: inline-block;
            vertical-align: top;
            margin-left: 7px;
            width: 20px;
            height: 27px;
            // height: 18px;
            background: url(./images/icon-error.png) no-repeat center center/20px 18px;
        }
        .ratio-title {
            margin-left: 7px;
            font-size: 14px;
        }
    }
}