/*
 * 
 * 　　┏┓　　　┏┓+ +
 * 　┏┛┻━━━┛┻┓ + +
 * 　┃　　　　　　　┃ 　
 * 　┃　　　━　　　┃ ++ + + +
 *  ████━████ ┃+
 * 　┃　　　　　　　┃ +
 * 　┃　　　┻　　　┃
 * 　┃　　　　　　　┃ + +
 * 　┗━┓　　　┏━┛
 * 　　　┃　　　┃　　　　　　　　　　　
 * 　　　┃　　　┃ + + + +
 * 　　　┃　　　┃
 * 　　　┃　　　┃ +  神兽保佑
 * 　　　┃　　　┃    代码无bug　　
 * 　　　┃　　　┃　　+　　　　　　　　　
 * 　　　┃　 　　┗━━━┓ + +
 * 　　　┃ 　　　　　　　┣┓
 * 　　　┃ 　　　　　　　┏┛
 * 　　　┗┓┓┏━┳┓┏┛ + + + +
 * 　　　　┃┫┫　┃┫┫
 * 　　　　┗┻┛　┗┻┛+ + + +
 * 
 * 
 * @Author: zhuzesen
 * @LastEditors: zhuzesen
 * @Date: 2021-01-06 11:23:14
 * @LastEditTime: 2021-01-06 11:23:14
 * @Description: 
 * @FilePath: \teacher-development\src\component\UEditor\index.scss
 */

.LG_UEditor {
    line-height: 20px;
    .edui-default .edui-toolbar .edui-button .edui-icon {
        height: 20px;
        width: 20px;
    }
}

.LG_Input_default {
    &.ant-input {
        line-height: 20px;
        padding: 4px 12px 4px 8px;
        width: 931px;
        // padding: 0;
        height: 370px;
    }
}