/*
 * ......................................&&.........................
 * ....................................&&&..........................
 * .................................&&&&............................
 * ...............................&&&&..............................
 * .............................&&&&&&..............................
 * ...........................&&&&&&....&&&..&&&&&&&&&&&&&&&........
 * ..................&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&..............
 * ................&...&&&&&&&&&&&&&&&&&&&&&&&&&&&&.................
 * .......................&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&.........
 * ...................&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&...............
 * ..................&&&   &&&&&&&&&&&&&&&&&&&&&&&&&&&&&............
 * ...............&&&&&@  &&&&&&&&&&..&&&&&&&&&&&&&&&&&&&...........
 * ..............&&&&&&&&&&&&&&&.&&....&&&&&&&&&&&&&..&&&&&.........
 * ..........&&&&&&&&&&&&&&&&&&...&.....&&&&&&&&&&&&&...&&&&........
 * ........&&&&&&&&&&&&&&&&&&&.........&&&&&&&&&&&&&&&....&&&.......
 * .......&&&&&&&&.....................&&&&&&&&&&&&&&&&.....&&......
 * ........&&&&&.....................&&&&&&&&&&&&&&&&&&.............
 * ..........&...................&&&&&&&&&&&&&&&&&&&&&&&............
 * ................&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&............
 * ..................&&&&&&&&&&&&&&&&&&&&&&&&&&&&..&&&&&............
 * ..............&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&....&&&&&............
 * ...........&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&......&&&&............
 * .........&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&.........&&&&............
 * .......&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&...........&&&&............
 * ......&&&&&&&&&&&&&&&&&&&...&&&&&&...............&&&.............
 * .....&&&&&&&&&&&&&&&&............................&&..............
 * ....&&&&&&&&&&&&&&&.................&&...........................
 * ...&&&&&&&&&&&&&&&.....................&&&&......................
 * ...&&&&&&&&&&.&&&........................&&&&&...................
 * ..&&&&&&&&&&&..&&..........................&&&&&&&...............
 * ..&&&&&&&&&&&&...&............&&&.....&&&&...&&&&&&&.............
 * ..&&&&&&&&&&&&&.................&&&.....&&&&&&&&&&&&&&...........
 * ..&&&&&&&&&&&&&&&&..............&&&&&&&&&&&&&&&&&&&&&&&&.........
 * ..&&.&&&&&&&&&&&&&&&&&.........&&&&&&&&&&&&&&&&&&&&&&&&&&&.......
 * ...&&..&&&&&&&&&&&&.........&&&&&&&&&&&&&&&&...&&&&&&&&&&&&......
 * ....&..&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&...........&&&&&&&&.....
 * .......&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&..............&&&&&&&....
 * .......&&&&&.&&&&&&&&&&&&&&&&&&..&&&&&&&&...&..........&&&&&&....
 * ........&&&.....&&&&&&&&&&&&&.....&&&&&&&&&&...........&..&&&&...
 * .......&&&........&&&.&&&&&&&&&.....&&&&&.................&&&&...
 * .......&&&...............&&&&&&&.......&&&&&&&&............&&&...
 * ........&&...................&&&&&&.........................&&&..
 * .........&.....................&&&&........................&&....
 * ...............................&&&.......................&&......
 * ................................&&......................&&.......
 * .................................&&..............................
 * ..................................&..............................
 * 
 * @Author: zhuzesen
 * @LastEditors: zhuzesen
 * @Date: 2020-12-08 13:54:07
 * @LastEditTime: 2020-12-09 20:24:50
 * @Description: 
 * @FilePath: \teacher-development\src\component\editor\index.scss
 */

@import "../common/mixin.scss";
.lg-editor {
    padding: 28px 0;
    .editor-table {
        width: 100%;
        tr {
            // height: 46px;
            line-height: 30px;
            td {
                position: relative;
                &:first-of-type {
                    width: 180px;
                    text-align: right;
                    font-size: 14px;
                    color: #666666;
                    padding-right: 12px;
                }
                &:nth-of-type(2) {
                    width: calc(100% - 180px);
                    text-align: left;
                    padding: 8px 0;
                }
                .title-input {
                    width: 720px;
                }
                .source-input {
                    width: 360px;
                }
                .file-upload {
                    position: relative;
                    display: inline-block;
                    // width: 92px;
                    height: 30px;
                    background-color: #80acc5;
                    border-radius: 3px;
                    overflow: hidden;
                    line-height: 30px;
                    padding: 0 10px;
                    cursor: pointer;
                    font-size: 14px;
                    color: #ffffff;
                    vertical-align: middle;
                    // @include v-center;
                    // top: 24px;
                    &::before {
                        content: "";
                        position: relative;
                        display: inline-block;
                        width: 12px;
                        vertical-align: top;
                        height: 100%;
                        margin-right: 4px;
                        background: url(./images/icon-add.png) no-repeat center center/contain;
                    }
                    .file-input {
                        position: absolute;
                        cursor: pointer;
                        background: transparent;
                        // margin-left: -200px;
                        left: -200px;
                        top: 0;
                        color: transparent;
                        &:focus {
                            border: none;
                            outline: none;
                        }
                    }
                }
                .file-tip {
                    font-size: 12px;
                    padding-left: 10px;
                    color: #fe0000;
                }
                .main-input {
                    width: 931px;
                    height: 234px;
                }
                .td-main {
                    height: 250px;
                    display: inline-block;
                    line-height: 46px;
                }
            }
            .must {
                &::before {
                    content: "* ";
                    font-size: 14px;
                    color: #ff0000;
                }
            }
        }
    }
    .editor-input {
        height: 30px;
        line-height: 28px;
        border-radius: 3px;
        border: solid 1px #dedede;
        &:focus {
            box-shadow: none;
            border-color: rgb(88, 151, 237);
        }
    }
}