/*
 *  ┌───┐   ┌───┬───┬───┬───┐ ┌───┬───┬───┬───┐ ┌───┬───┬───┬───┐ ┌───┬───┬───┐
 *  │Esc│   │ F1│ F2│ F3│ F4│ │ F5│ F6│ F7│ F8│ │ F9│F10│F11│F12│ │P/S│S L│P/B│  ┌┐    ┌┐    ┌┐
 *  └───┘   └───┴───┴───┴───┘ └───┴───┴───┴───┘ └───┴───┴───┴───┘ └───┴───┴───┘  └┘    └┘    └┘
 *  ┌───┬───┬───┬───┬───┬───┬───┬───┬───┬───┬───┬───┬───┬───────┐ ┌───┬───┬───┐ ┌───┬───┬───┬───┐
 *  │~ `│! 1│@ 2│# 3│$ 4│% 5│^ 6│& 7│* 8│( 9│) 0│_ -│+ =│ BacSp │ │Ins│Hom│PUp│ │N L│ / │ * │ - │
 *  ├───┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─────┤ ├───┼───┼───┤ ├───┼───┼───┼───┤
 *  │ Tab │ Q │ W │ E │ R │ T │ Y │ U │ I │ O │ P │{ [│} ]│ | \ │ │Del│End│PDn│ │ 7 │ 8 │ 9 │   │
 *  ├─────┴┬──┴┬──┴┬──┴┬──┴┬──┴┬──┴┬──┴┬──┴┬──┴┬──┴┬──┴┬──┴─────┤ └───┴───┴───┘ ├───┼───┼───┤ + │
 *  │ Caps │ A │ S │ D │ F │ G │ H │ J │ K │ L │: ;│" '│ Enter  │               │ 4 │ 5 │ 6 │   │
 *  ├──────┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴─┬─┴────────┤     ┌───┐     ├───┼───┼───┼───┤
 *  │ Shift  │ Z │ X │ C │ V │ B │ N │ M │< ,│> .│? /│  Shift   │     │ ↑ │     │ 1 │ 2 │ 3 │   │
 *  ├─────┬──┴─┬─┴──┬┴───┴───┴───┴───┴───┴──┬┴───┼───┴┬────┬────┤ ┌───┼───┼───┐ ├───┴───┼───┤ E││
 *  │ Ctrl│    │Alt │         Space         │ Alt│    │    │Ctrl│ │ ← │ ↓ │ → │ │   0   │ . │←─┘│
 *  └─────┴────┴────┴───────────────────────┴────┴────┴────┴────┘ └───┴───┴───┘ └───────┴───┴───┘
 * 
 * @Author: zhuzesen
 * @LastEditors: zhuzesen
 * @Date: 2021-01-07 11:11:25
 * @LastEditTime: 2021-01-07 11:11:25
 * @Description: 
 * @FilePath: \teacher-development\src\pages\teacher\train\index.scss
 */

.teacher-train {
    .tt-table {
        .lg-table .ant-table .ant-table-thead tr th {
            color: #b8b8b8;
            background-color: #f5f5f5;
            // box-shadow: 0px -1px 0px 0px #dedede, 0px 1px 0px 0px #dedede;
            border-bottom: 1px solid #dedede;
            border-top: 1px solid #dedede;
            height: 36px;
            font-weight: 100;
        }
        .lg-table .ant-table .ant-table-tbody>tr>td>* {
            line-height: 68px;
            padding: 0;
            // border-top: transparent 2px solid;
            // border-bottom: transparent 2px solid;
            border: none!important;
        }
        .lg-table .ant-table .ant-table-tbody>tr {
            // &:nth-of-type(2n+1) {
            //     // background: #adaddd;
            // }
        }
        .lg-table .ant-table .ant-table-tbody .ant-table-row .ant-table-cell {
            border-bottom: 1px solid #dedede;
            .table-index {
                font-size: 12px;
                color: #999999 !important;
                // &:hover {
                //     color: #999999!important;
                // }
            }
            .table-title {
                color: #0249a5;
                opacity: 0.9;
                &:hover {
                    color: #0249a5 !important;
                    opacity: 1;
                }
            }
            .table-source {
                color: #81370f !important;
            }
            .table-time {
                font-size: 12px;
                color: #333333;
                span {
                    display: block;
                    line-height: 16px;
                }
                .table-time-top {
                    color: #999999;
                }
                .table-time-bottom {
                    color: #999999;
                }
                .table-time-bottom-done {
                    color: #ff6600;
                }
                .table-time-bottom-will {
                    color: #09aaff;
                }
                .table-time-bottom-can {
                    color: #009900;
                }
                .table-time-bottom-end {
                    color: #999999;
                }
            }
            .table-limit {
                font-size: 12px;
                span {
                    display: block;
                    line-height: 16px;
                }
                .table-limit-no {
                    color: #ff0000;
                }
            }
            .table-activity {
                &.table-activity-0:hover {
                    color: #4a9e54;
                }
                &.table-activity-1:hover {
                    color: #d8562e;
                }
            }
            .table-handle {
                color: #333333;
                .table-apply-btn {
                    text-decoration: underline;
                    cursor: pointer;
                    color: #0249a5;
                    opacity: 0.9;
                    line-height: 22px;
                    padding-left: 18px;
                    background: url(./images/icon-apply-cancel.png)no-repeat left center /15px 15px;
                    &:hover {
                        opacity: 1;
                    }
                }
                .table-apply-btn-no {
                    padding-left: 21px;
                    background: url(./images/icon-apply.png)no-repeat left center /18px 15px;
                }
            }
        }
        .lg-table .ant-table .ant-table-tbody .ant-table-row {
            &:hover {
                background: transparent;
                &:not(.ant-table-expanded-row) td {
                    background: transparent;
                }
                .ant-table-cell {
                    // height: 44px;
                    &>* {
                        background-color: transparent;
                        border-top: #fff 2px solid;
                        border-bottom: #fff 2px solid;
                        color: inherit;
                    }
                    .table-index {
                        font-size: 12px;
                        color: #999999 !important;
                    }
                    .table-title {
                        color: #0249a5;
                    }
                    .table-source {
                        color: #81370f !important;
                    }
                    .table-time {
                        font-size: 12px;
                        color: #333333;
                        span {
                            display: block;
                            line-height: 16px;
                        }
                        // .table-time-top {
                        //     color: #999999;
                        // }
                        // .table-time-bottom {
                        //     color: #999999;
                        // }
                        // .table-time-bottom-do {
                        //     color: #ff6600;
                        // }
                        // .table-time-bottom-done {
                        //     color: #009900;
                        // }
                    }
                    .table-limit {
                        font-size: 12px;
                        span {
                            display: block;
                            line-height: 16px;
                        }
                        .table-limit-no {
                            color: #ff0000;
                        }
                    }
                    .table-activity {
                        &.table-activity-0 {
                            color: #4a9e54;
                        }
                        &.table-activity-1 {
                            color: #d8562e;
                        }
                    }
                    .table-handle {
                        color: #333333;
                        .table-apply-btn {
                            color: #0249a5;
                        }
                        .table-apply-btn-no {
                            background: url(./images/icon-apply.png) no-repeat left center / 18px 15px;
                        }
                    }
                }
            }
        }
    }
    .tt-handle-top {
        height: 46px;
        .tht-search {
            float: right;
        }
    }
}